<a href="/users">All Users</a><br>

<a href="/photos">All Photos</a>

<h1> <%= @user.username %> </h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private.to_s %> </dd>
  <dt>Followers</dt>
  <dd><%= @user.followers.count %></dd>
  <dt>Following</dt>
  <dd><%= @user.following.count %></dd>

</dl>

<ul>
  <li>
    <a href="/users/<%= @user.username %>">
      Profile
    </a>
  </li>

  <li>
    <a href="/users/<%= @user.username %>">
      Liked photos
    </a>
  </li>

  <li>
    <a href="/users/<%= @user.username %>">
      Feed
    </a>
  </li>

  <li>
    <a href="/users/<%= @user.username %>">
      Discover
    </a>
  </li>

</ul>

<h2> Liked Photos (<%= @user.liked_photos.count %>) </h2>

<table border="!">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th>
    </th>
  </tr>

  <% @user.liked_photos.each do |the_photo| %>
    <tr>
      <td>
        <img src="<%= the_photo.image %>">
      </td>

      <td>
        <%= @user.username %>
      </td>

      <td>
        <%= the_photo.caption %>
      </td>

      <td>
        <%= the_photo.created_at %>
      </td>

      <td>
        <%= the_photo.likes_count %>
      </td>

      <td>
      </td>
    </tr>
  <% end %>

  </table>