<a href="/users">All Users</a><br>

<a href="/photos">All Photos</a>

<h1> Photo Details </h1>

<dl>
  <dt>Image</dt>
  <dd><img src="<%= @photo.image %>"> </dd>
  <dt>Caption</dt>
  <br>
  <dd><%= @photo.caption %></dd>
  <br>
  <dt>Owner</dt>
  <dd><%= @photo.poster.username %></dd>
  <dt>Posted</dt>
  <dd><%= time_ago_in_words( @photo.created_at ) %></dd>
  <dt>Fans</dt>
  <dd><%= @photo.fan_list %></dd>
  
  <dt>Add a fan</dt>
  <dd>
    <form action="/insert_like_record">
      <div>
        <label for="photoid_box">Photo ID</label>
        <input id="photoid_box" name="input_photo_id" value="<%= @photo.id %>">

        <label for="fanid_box">Fan ID</label>
        <input id="fanid_box" name="input_user_id">
        <button>Add fan</button>
      </div>
    </form>
  </dd>

  <dt>Edit photo</dt>
  <dd>
    <form action="/update_photo/<%= @photo.id %>">
      <div>
        <label for="image_box">Image</label>
        <input id="image_box" name="input_image" value="<%= @photo.image %>">

        <label for="caption_box">Caption</label>
        <textarea id="caption_box" name="input_caption" >"<%= @photo.caption %>"</textarea>
        <button>Update photo</button>
      </div>
    </form>
  </dd>

  <dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%= @photo.id %>">
      Delete this photo
    </a>
  </dd>
</dl>

<h2> Comments </h2>

<table>
  <tr>
    <th>
      Commentor
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

  <% @photo.comments.each do |the_comment| %>
    <tr>
      <td>
        <%= the_comment.commenter.username %>
      </td>

      <td>
        <%= the_comment.body %>
      </td>

      <td>
        <%= time_ago_in_words( the_comment.created_at ) %>
      </td>
    </tr>
  <% end %>



</table>


<h3> Add a new comment </h3>

<form action="/insert_comment_record">
  <div>
    <label for="photo_box">Photo ID</label>
    <input id="photo_box" name="input_photo_id" value="<%= @photo.id %>">

    <label for="author_box">Author ID</label>
    <input id="author_box" name="input_author_id" >

    <label for="comment_box">Comment</label>
    <textarea id="comment_box" name="input_body" placeholder="Enter a comment..."></textarea>
    <button>Add comment</button>
  </div>
</form>